{% extends "shop/base.html" %}
{% block title %}
    product detail /
    {{ block.super }}
{% endblock %}
{% block body %}
    <h2>{{ product.name }} details</h2>
    <p>price: {{ product.price }}</p>
    <p>description: {% firstof product.description "No description so far" %} </p>
    <p> discount: {{ product.discount }}</p>
    <p> is sold: {{ product.archived }}</p>
    {% if product.preview %}
        <h3>product preview</h3>
        <img src="{{ product.preview.url }}" alt="{{ product.preview.name }}">
    {% endif %}
    <h3>Images</h3>
    {% for img in product.product_images.all %}
        <img src="{{ img.image.url }} " alt="{{ img.image.name }}">
        {% empty %}
        No images available
    {% endfor %}
    <br>
    {% if has_permission %}
    <p><a href="{% url "shop:productUpdate" pk=product.pk %}">update</a></p>
    {% endif %}
    <br>
    <p><a href="{% url "shop:productArchive" pk=product.pk %}">Archive product</a></p>
    <br>
    <a href="{% url "shop:products" %}">Go back</a>
{% endblock %}